<template>
    <el-date-picker
            v-model="birth_date"
            type="date"
            placeholder="Выберите день"
            format="dd/MM/yyyy"
            value-format="dd-MM-yyyy"
            name="birth_date"
    >
    </el-date-picker>
</template>
<script>
    export default {
        data() {
            return {
                birth_date: ''
            };
        },
        props: ['birth_date_user'],
        created(){
            if(this.birth_date_user){
                this.birth_date = this.birth_date_user
            }
        },
        methods:{
        }

    };
</script>