<template>
    <form role="form" @submit.prevent="createOrder">
        <div class="box-body">
            <div class="form-group">
                <div>
                    <el-switch
                            v-model="ClientSwitch"
                            active-text="Новый клиент"
                            inactive-text="Выбор клиента">
                    </el-switch>
                </div>
            </div>

            <div class="old-client" v-show="!this.ClientSwitch">
                <div class="form-group">
                    <label for="client_id" class="col-md-2 cols-sm-12 control-label">Клиент</label>
                    <div class="col-md-7 col-sm-12">
                        <select class="form-control" name="client_id" required id="client_id" v-model="clientId"
                                @change="getAddresses">
                            <option value="0" selected>Выбор клиента</option>
                            <option v-for="client in listClients" v-bind:value="client.id">{{client.name}}
                                {{client.secondName}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-group" v-show="this.clientId>0">
                    <label for="address_id" class="col-md-2 cols-sm-12 control-label">Адрес</label>
                    <div class="col-md-7 col-sm-12">
                        <select class="form-control" name="address_id" required id="address_id" v-model="addressId"
                                @change="setAddress"
                                onchange="">
                            <option value="0">Выбор адреса</option>
                            <option v-for="address in listAddresses" v-bind:value="address.id">{{address.locality}}
                                {{address.street}}
                            </option>
                            <option value="new">Новый адрес</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="new-client" v-show="this.ClientSwitch">
                <div class="form-group">
                    <label for="name" class="col-md-2 cols-sm-12 control-label">Имя</label>
                    <div class="col-md-7 col-sm-12">
                        <input type="text" id="name" v-model="newClientData.name"
                               class="form-control" placeholder="John" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="secondName" class="col-md-2 cols-sm-12 control-label">Фамилия</label>
                    <div class="col-md-7 col-sm-12">
                        <input type="text" id="secondName" v-model="newClientData.secondName"
                               class="form-control" placeholder="Doe" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="thirdName" class="col-md-2 cols-sm-12 control-label">Отчество</label>
                    <div class="col-md-7 col-sm-12">
                        <input type="text" id="thirdName" class="form-control" v-model="newClientData.thirdName">
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="col-md-2 cols-sm-12 control-label">Email</label>
                    <div class="col-md-7 col-sm-12">
                        <input type="email" id="email" v-model="newClientData.email"
                               class="form-control" placeholder="JohnDoe@example.com">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Номер телефона</label>
                    <div class="col-md-7 col-sm-12">
                        <the-mask mask="+# (###) ###-##-##"
                                  class="form-control"
                                  placeholder="+7 (123) 456-78-99" name="phone1" type="tel"
                                  v-model="newClientData.phone1"
                                  @blur.native="checkClientByPhone(newClientData.phone1)">
                        </the-mask>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Номер телефона</label>
                    <div class="col-md-7 col-sm-12">
                        <the-mask mask="+# (###) ###-##-##"
                                  class="form-control"
                                  placeholder="+7 (123) 456-78-99" name="phone2" type="tel"
                                  v-model="newClientData.phone2"
                                  @blur.native="checkClientByPhone(newClientData.phone2)">
                        </the-mask>
                    </div>
                </div>
            </div>

            <div v-show="this.AddressSwitch">
                <div class="form-group">
                    <label for="locality" class="col-md-2 cols-sm-12 control-label">Район /
                        город</label>
                    <div class="col-md-7 col-sm-12">
                        <input type="email" name="locality" id="locality" v-model="newAddressData.locality"
                               class="form-control" placeholder="г. Симферополь" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="street" class="col-md-2 cols-sm-12 control-label">Улица, дом</label>
                    <div class="col-md-7 col-sm-12">
                        <input type="email" name="street" id="street" v-model="newAddressData.street"
                               class="form-control" placeholder="ул. Ленина 15, кв. 4" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="objectNumber" class="col-md-2 cols-sm-12 control-label">Кадастровый номер</label>
                    <div class="col-md-7 col-sm-12">
                        <input type="email" id="objectNumber" v-model="newAddressData.object_number"
                               class="form-control" placeholder="12345">
                    </div>
                </div>
            </div>
        </div>
    </form>
</template>

<script>
    export default {
        data() {
            return {
                listClients: {},
                listAddresses: {},
                ClientSwitch: true,
                AddressSwitch: false,
                newClientData: {
                    name: '',
                    secondName: '',
                    thirdName: '',
                    email: '',
                    phone1: '',
                    phone2: ''
                },
                newAddressData: {
                    locality: '',
                    street: '',
                    object_number: ''
                },
                clientId: 0,
                addressId: '',
            };
        },
        created() {
            axios.get('/clients/list')
                .then((response) => {
                    console.log(response.data);
                    this.listClients = response.data;
                })
                .catch((error) => {
                    console.log(error)
                });
        },
        methods: {
            getAddresses() {
                this.AddressSwitch = false;
                axios.get('addresses/client/' + this.clientId)
                    .then((response) => {
                        console.log(response.data);
                        this.listAddresses = response.data;
                    })
                    .catch((error) => {
                        console.log(error)
                    });
            },
            setAddress() {
                console.log(this.addressId);
                this.AddressSwitch = this.addressId === 'new';
            },
            createClient() {
                let client = this.newClientData;
                axios.post('/client/' + this.clientId, client)
                    .then((response) => {
                        console.log(response.data);
                        this.listAddresses = response.data;
                    })
                    .catch((error) => {
                        console.log(error)
                    });
            },
            createAddress() {
                let address = this.newAddressData;
                axios.post('/address/create' + this.clientId, address)
                    .then((response) => {
                        console.log(response.data);
                        this.listAddresses = response.data;
                    })
                    .catch((error) => {
                        console.log(error)
                    });
            },
            checkClientByPhone(phone){
                axios.get('/api/client/phone/'+phone)
                    .then((response) => {
                        console.log(response.data);
                        if(response.data){
                            console.log(1)
                        } else{
                            console.log(0)
                        }
                    });
            }
        }
    }
</script>

<style>

</style>