<template>
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="col-sm-1">#</th>
            <th class="col-sm-2">Номер</th>
            <th class="col-sm-4">название</th>
            <th class="col-sm-4">Комментарий</th>
            <th class="col-sm-1"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in form.worksListSelected" v-show="item.id">
            <td class="num-in-table">{{index + 1}}</td>
            <td><input type="text" placeholder="Номер работы" class="form-control"></td>
            <td class="text-in-table">{{item.name}}</td>
            <td><input type="text" v-model="item.comment" placeholder="Комментарий"
                       class="form-control"></td>
            <td><i class="fa fa-2x fa-close text-red"
                   v-on:click="form.worksListSelected.splice(index, 1)"></i>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <el-cascader :options="options" v-model="selected" @change="handleChange"
                     v-show="showWorkLists" :size="medium" filterable>
        </el-cascader>
        <i class="fa fa-3x fa-plus text-blue" v-on:click="addWork()" v-show="!showWorkLists"></i>
    </div>
</template>

<script>
    export default {
        data() {

        }
    }
</script>

<style scoped>

</style>