<template>
    <div class="row">

        <div class="col-xl-12 col-md-12 col-xs-12">
            <div class="box box-default">
                <div class="box-header">
                    <h1 class="box-title">Создание заказа</h1>
                </div>
                <el-steps :active="this.step" align-center ref="stepposition">
                    <el-step title="Шаг 1" description="Информация о Клиенте">
                    </el-step>
                    <el-step title="Шаг 2" description="Выбор работ">
                    </el-step>
                    <el-step title="Шаг 3" description="Другие параметры">
                    </el-step>
                </el-steps>
                <div class="box-body">
                    <div v-show="this.step === 1">

                        <client-select-component ref="ClientsInfo">
                        </client-select-component>

                    </div>

                    <div v-show="this.step === 2">



                    </div>


                    <div v-show="this.step === 3">
                        some info
                    </div>
                </div>
                <div class="box-footer">
                    <div class="box-footer">
                        <button v-on:click="prevStep" class="btn btn-success">Назад</button>
                        <button v-on:click="nextStep" class="btn btn-info right">Выбор Работ</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</template>

<script>
    export default {
        data() {
            return {
                form: {
                    worksListSelected: [],
                },
                options: [],
                showWorkLists: true,
                selected: [],
                newClient: true,
                step: 1,
            };
        },
        created() {
            axios.get('/api/worklist')
                .then((response) => {
                    console.log(response.data);
                    this.options = response.data;
                })
                .catch((error) => {
                    console.log(error)
                });
        },
        methods: {
            handleChange(data) {
                let id = this.selected[this.selected.length - 1];
                axios.get('/api/worklist/' + id)
                    .then((response) => {
                        let name = response.data.name;
                        this.form.worksListSelected.pop();
                        this.form.worksListSelected.push({id: id, name: name, comment: ''});
                    })
                    .catch((error) => {
                        console.log(error)
                    });
                this.showWorkLists = false;
            },

            delete(key) {
                this.form.worksListSelected.splice(key, 1);
            },
            addWork() {
                this.selected.length = 0;
                this.form.worksListSelected.push([]);
                this.showWorkLists = true;
            },

            createOrder() {
                let FormData = this.form;
                axios.post('/orders/store', FormData)
                    .then((response) => {
                        console.log(response.data())
                    })
                    .catch((error) => {

                    });
            },
            prevStep() {
                this.step = this.step - 1;
            },
            nextStep() {
                this.step = this.step + 1;
            }
        },
    }
</script>

<style scoped>
    .num-in-table, .text-in-table {
        vertical-align: middle;
        font-size: 1.1em;
    }

    th {
        font-size: 1.1em;
    }

    input {
        font-size: 1.1em;
    }

</style>