<template>

    <div class="checkbox ">
        <label v-for="role in roles" class="checkbox text-checkbox">
            <input type="checkbox" name="roles[]" v-bind:value="role.id"
                   v-model="rolesAssigned"/>{{role.display_name}}
        </label>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                rolesAssigned: [],
            };
        },
        props: ['roles', 'userRoles'],
        created(){
            if (this.userRoles) {
                this.rolesAssigned = this.userRoles;
            }

        },
    }
</script>