.dropdown-actions {
    position: absolute;
    right: 0;
}
.btn-actions{
    position: absolute;
    top: 7px;
    right: 5px;
}

html {
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.nbs {
    z-index: 1000;
    position: fixed;
    bottom: 35px;
    right: 20px;
    height: 40px;
    width: 40px;
    opacity: 0.7;
}
.nbs:hover {
    height: 234px;
    opacity: 1;
}
.nb span {
    display: none;
    position: absolute;
    top: 100px;
    right: 47px;
    width: auto;
    color: #FFF;
    background: rgba(0, 0, 0, 0.6);
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
}
.nbi.img {
    background: #FFF;
}
.nbi img {
    width: 32px;
    border-radius: 50%;
    margin-top: -5px;
}
.nbi span {
    right: 40px;
    top: 6px;
}
.nb {
    display: block;
    position: absolute;
    border: none;
    border-radius: 50%;
    box-sizing: content-box;
    cursor: pointer;
    outline: none;
    padding: 0;
    box-shadow: 0 0 2px rgba(0,0,0,.14),0 2px 4px rgba(0,0,0,.28);
    background-color: #db4437;
    color: #EEE;
    pointer-events: auto;
    text-align: center;
}
.nb:hover {
    color: #FFF;
}
.nb:hover span {
    display: inline;
    opacity: 1;
    line-height: 1.2em;
    padding-top: 6px;
}
.nb-main {
    height: 40px;
    width: 40px;
    font-size: 1.9em;
    line-height: 1.4em;
    bottom: 0px;
}
.nbi {
    height: 27px;
    width: 32px;
    padding-top: 5px;
    font-size: 1.2em;
    line-height: 1.4em;
    margin-left: 4px;
    bottom: 4px;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
}
.nbi i {
    margin-top: 8px;
}
.nbsb0 {
    bottom: 4px;
    background-color: #1998B3;
}
.nbsb1 {
    bottom: 4px;
    background-color: #1998B3;
}
.nbsb2 {
    bottom: 4px;
    background-color: #db4437;
}
.nbsb3 {
    bottom: 4px;
    background-color: #3c80f6;
}
.nbsb4 {
    bottom: 4px;
    background-color: #D5A716;
}
.nbs:hover .nbsb0 {
    bottom: 196px;
}
.nbs:hover .nbsb1 {
    bottom: 158px;
}
.nbs:hover .nbsb2 {
    bottom: 120px;
}
.nbs:hover .nbsb3 {
    bottom: 82px;
}
.nbs:hover .nbsb4 {
    bottom: 45px;
}
.addresses{
    margin-left: 0;
    margin-right: 0;
}
.addresses .col-md-4{
    margin-bottom: 20px;
}
.address-box{
    min-height: 150px;
    border: 1px solid #3c8dbc;
    padding: 10px 20px 10px 20px;
}
.address-add{
    min-height: 150px;
    padding: 10px 20px 10px 20px;
}
.address-add-button{
    position: absolute;
    top: 35%;
    left: 46%;
}
.box-body .row{
    margin-left: 0;
}